@model List<Product>

<partial name="_Notification"/>

<div class="container"> 
    <div class="row pt=4 pb-2">
        <div class="col-6">
            <h2 class="text primary">
                Catagory List
            </h2>
        </div>
        <div class="col-6 text-end" >
            
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Create New Catagory</a>

        </div>
    </div>

<table class="table table-bordered table-striped">
    <tr>
        <th class="text-center bg-primary text-white">
            Title  
        </th>
        <th class="text-center bg-primary text-white">
            Author
        </th>
        <th class="text-center bg-primary text-white">
            ISBN
        </th>
        <th class="text-center bg-primary text-white">
            Price
        </th>
        <th class="text-center bg-primary text-white" >Catagory</th>
        <th class="text-center bg-primary text-white" >Options</th>
    </tr>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Title</td>
                <td>@obj.Author</td>
                <td>@obj.ISBN</td>
                <td>@obj.ListPrice</td>
                <td>@obj.CategoryId</td> 
                
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
 
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }  
    </tbody>
</table>
</div>