@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="card d-flex position-relative flex-column col-lg-3">
            <div class='imgContainer card rounded'>
                <img src='@product.ImageUrl' class="fitting-image" >
            </div>
            <div class="content border-0 border-top ">
                <h5>@product.Title</h5>
                
                <p>@product.Author</p>
                
                
                <p>the list price<span>@product.ListPrice.ToString("c")</span></p>
                <p>Get as low as<span>@product.Price100.ToString("c")</span></p>
                
                <a  asp-area="customer" asp-controller="Home" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary bg-gradient ">afdasfd</a>
                
            </div>
            
        </div>

    }
</div>